*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  /* height: 100%; */
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  /* height: 100%; */
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #fafafa;
  color: #333;
  /* height: 100%; */
}
